#compose-body {
    min-height: 50%;
}

ul {
    list-style-type: none;
    margin-left: -1em;
}

.check {
    background-color: red;
}

.mail-item {
    text-align: left;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.mail-item:hover {
    box-shadow: 1px 1px 1px #888888;
}

#reply {
    margin-left: 10px;
}