textarea #compose-body {
    min-height: 600px;
}

ul {
    list-style-type: none;
    margin-left: -1em;
}

.check {
    background-color: red;
}

.mail-item {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.mail-item:hover {
    color: #888888;
    box-shadow: 1px 1px 1px #888888;
}
